.form {
  .ant-select-selection-search + .ant-select-selection-placeholder {
    color: #2d1f3d;
    height: 37px;
  }

  .ant-input.ant-input-lg,
  .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
      .ant-pagination-size-changer
    )
    .ant-select-selector {
    border-color: #aaaaaa;
    box-shadow: none;
    outline: none;
  }
  .ant-select-item-option-content {
    color: var(--border-grey);
    font-size: 11px;
  }

  .ant-image {
    position: absolute !important;
    left: 28.95% !important;
    right: 25.12% !important;
    top: 24.57% !important;
    bottom: 28.57% !important;
  }

  .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
    background-color: white;
    color: black;
  }
  .ant-select-item-option-content:hover {
    color: black;
  }
  .ant-btn:hover {
    color: white;
    border-color: transparent;
  }
}
