.container {
  background-image: url(/Background_image.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .ant-input.ant-input-lg {
    border-color: #aaaaaa;
    box-shadow: none;
    outline: none;
  }

  .ant-btn:hover {
    color: white;
    border-color: transparent;
  }
}
