.admin-form {
  .ant-input {
    height: 27px;
    &::placeholder {
      position: relative;
      bottom: 2px;
      font-size: 12px !important;
      color: #adb5bdcc;
    }
  }

  .ant-form-item {
    width: 100%;
  }

  .ant-select,
  .ant-select-selector,
  .ant-select-selection-search-input,
  .ant-select-selection-placeholder {
    height: 27px !important;
  }

  .ant-select-selector {
    border-color: rgb(217, 217, 217) !important;
    border-radius: 6px !important;
  }

  .ant-select-selection-placeholder {
    font-size: 12px !important;
    display: flex;
    align-items: center;
    color: #adb5bdcc !important;
  }

  .ant-select-selection-item {
    height: 100%;
    display: flex;
    padding-top: 2px !important;
  }

  .ant-form-item-control {
    position: relative;

    &-input-content {
      max-height: 27px;
    }

    div:nth-child(2) {
      display: block !important;
      // position: absolute;
      // bottom: 0;
      // transform: translateY(100%);
      .ant-form-item-explain-error {
        // position: absolute;
        line-height: 1;
        font-size: 12px;
      }
    }
  }
  .ant-select-arrow {
    transform: translateY(50%);
    padding-top: 1px;
  }
}

.select-error {
  .ant-select-selector {
    border-color: rgb(255, 0, 0) !important;
  }
}

.ant-select-open {
  .ant-select-arrow {
    transform: rotate(180deg);
  }
}

.ant-select-arrow {
  height: unset !important;
}

.ant-select-item-option-selected {
  background-color: #6c51831a !important;
}
