.announcement-container {
  .ant-btn {
    &:hover {
      color: white;
      border-color: transparent;
    }
    &:disabled {
      &:hover {
        color: rgba(0, 0, 0, 0.25);
        border-color: #d9d9d9;
      }
    }
  }
}
