.announcement-container {
  .ant-btn {
    &:hover {
      color: white;
      border-color: transparent;
    }
    &:disabled {
      color: white;
      background-color: #c4c8cd;
      &:hover {
        border-color: #d9d9d9;
      }
    }
  }
}
